@import "./typography.scss";

html,
body {
  margin: 0;
  min-width: 360px;
  width: 100%;
  scroll-behavior: smooth;
  @media only screen and (max-width: 800px) {
    font-size: 12px;
  }
  @media only screen and (max-width: 500px) {
    font-size: 8px;
  }
  @media only screen and (max-width: 400px) {
    font-size: 6px;
  }
}

.main_container {
  .heading {
    text-transform: uppercase;
    text-align: center;
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 2.875rem;
    letter-spacing: 0.05em;
    padding: 0 2rem;
    color: $color-primar-green;
    margin-bottom: 2rem;
  }
  .banner_heading{
    text-transform: uppercase;
    font-style: normal;
    font-size: 3.2rem;
    letter-spacing: 0.05em;
    ///line-height: 10rem;
    padding: 0 2rem;
    //margin-top: 0.67em;
    font-weight: bold;
    text-align: center;
    font-family: "Raleway";
  }
  nav {
    display: none;
    padding-top: 1rem;
    @media only screen and (max-width: 900px) {
      display: block;
      img {
        width: 100px;
      }
    }
    .navbar-toggler-icon {
      width: 2rem;
      height: 2rem;
    }
    .offcanvas {
      font-size: 3rem;
      padding-left: .5rem;
      padding-right: 2rem;
      padding-top: 2rem;
      //width: 90%;
      a {
        font-size: 3rem;
      }
    }
  }
 
  .nav_bar {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
    display: flex;
    padding: 2rem;
    padding-bottom: 1rem;
    justify-content: center;
    background-color: $color-bg-white;
    @media only screen and (max-width: 900px) {
      display: none;
    }
    img {
      height: 2.75rem;
    }
    .spacer {
      flex-grow: 1;
    }
    .nav_links {
      display: flex;
      gap: 2rem;
      align-items: center;
      font-family: "Raleway";
      font-style: normal;
      font-weight: 500;
      letter-spacing: 0.125rem;
      font-size: 1rem;
      .link {
        position: relative;
        height: 100%;
        a {
          all: unset;
        }
        &:hover {
          color: $color-primar-green;
          cursor: pointer;
          .sub_menu {
            display: flex;
            flex-direction: column;
            gap: 0.7rem;
          }
        }
      }
      .sub_menu {
        display: none;
        position: absolute;
        top: 2rem;
        background-color: $color-bg-menu;
        color: $color-bg-white;
        padding: 1rem;
        z-index: 100;
        .item {
          width: max-content;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .hydrophonics_heading {
    text-align: center;
    color: $color-primar-green;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    padding-bottom: 2rem;
  }

  .picture{

display: block;
align-items: center;
justify-content: center;
width: 80%;
max-width: 500px;
border: 4px solid #900;
  }
  .picture > * {
    max-width: 100%;
  }
  // .desk_mob{
  //   max-height: 25rem;
  //   object-fit: cover;
  //   //height: 100%;
    
  // }

  #carouselExampleIndicators {
    height: 50rem;
    .carousel-inner {
      height: 100%;
      .carousel-item {
        height: 100%;
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          filter: brightness(0.7);
        }
        .carousel-caption {
          top: 18.75rem;
          h1 {
            font-size: 400%;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  .carousel-item {
    transition-duration: 2s;
} 
  .device_container {
    padding-top: 4rem;
    background: $color-bg-grey;

    .device_view {
      position: relative;
      max-width: 54rem;
      width: 90%;
      text-align: center;
      background-image: url("./assets/iphone.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 40%;
      height: 54rem;
      margin: auto;
      .widget {
        position: absolute;
        background-color: $color-widget-bg;
        width: 12rem;
        padding: 1rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        box-shadow: 0rem 0.25rem 0.9375rem rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(1.875rem);
        border-radius: 1.25rem;
        .icon {
          width: fit-content;
          background-color: $color-widget-icon-bg;
          border-radius: 1rem;
          padding: 1rem;
          img {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
        .text {
          font-family: "Raleway";
          font-style: normal;
          font-weight: bold;
          font-size: 1rem;
          text-align: left;
        }
      }
      .alerts {
        top: 8rem;
        right: 0;
      }
      .temperature {
        top: 14rem;
        left: 0;
      }
      .ph {
        bottom: 6rem;
        left: 0;
      }
      .tds {
        bottom: 27rem;
        right: 0;
      }
    }
  }
  .digital_era_container {
    background: $color-bg-grey;
    //padding-top: 5rem;
    .wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
      padding: 2rem;
      margin-top: 2rem;
      .card_container {
        font-family: "Raleway";
        font-style: normal;
        font-weight: bold;
        font-size: 1.75rem;
        line-height: 1.875rem;
        letter-spacing: 0.05em;
        color: #1f3f68;
        background-color: #ffffff;
        padding: 2.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: center;
        box-shadow: 0.3125rem 1.25rem 3.125rem rgba(135, 135, 135, 0.34);
        border-radius: 0.625rem;
        .grapics {
          height: 15rem;
          width: 10rem;
          display: grid;
          place-items: center;
          img {
            width: 100%;
          }
        }
        .card_head {
          padding-left: 2rem;
        }
        .card_body {
          font-family: "Raleway";
          font-style: normal;
          font-weight: 400;
          font-size: 1.5rem;
          line-height: 2.25rem;
          letter-spacing: 0.05em;
          color: #1f3f68;
        }
      }
    }
  }
  .video_section{
    background: $color-bg-grey;
    padding: 4rem 10rem;
    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      video {
        height: auto;
        width: 100%;
      }
    }


  }
  .sensors_section {
    background: $color-bg-grey;
    padding: 8rem 2rem;
    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .sensors {
        padding: 3rem;
        .wrapper {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          gap: 5rem;
          justify-content: space-evenly;
          padding: 2rem;
          box-sizing: border-box;
          .app {
            text-align: center;
            img {
              height: 8.875rem;
              width: 8.875rem;
            }
            .label {
              text-align: center;
              font-family: "Raleway";
              font-style: normal;
              font-weight: bold;
              font-size: 1.25rem;
              line-height: 2.875rem;
              letter-spacing: 0.05em;
              color: #1f3f68;
              margin-top: 1rem;
              min-width: 15rem;
            }
          }
        }
      }
      img {
        object-fit: contain;
        width: 32rem;
      }
    }
  }
  .Video_section{
    background: $color-bg-grey;
    padding: 8rem 2rem;
    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      video {
        //height: auto;
        width: 100%;
      }

    }
    

  }

  .column a {
    color: #ffffff;
    text-decoration: none;
  }

  .client_section {
    background: $color-client-bg;
    padding: 4rem 2rem;
    .heading {
      color: #ffffff;
    }
    .clients {
      display: flex;
      justify-content: center;
      gap: 2rem;
      padding: 2rem;
      flex-wrap: wrap;
      img {
        width: 18rem;
      }
    }
  }

  .about_us {
    background: $color-about-us-bg;
    padding: 4rem 2rem;
    display: flex;
    color: #ffffff;
    font-family: "Raleway";
    font-style: normal;
    font-size: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    .column {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .head {
        font-size: 1.4rem;
        font-weight: bold;
      }
    }
  }
}

//not working
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/raleway/Raleway-Regular.ttf) format("ttf");
}

@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 400;
  src: local("Raleway Italic"), url(./fonts/raleway/Raleway-Italic.ttf) format("ttf");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  src: local("Raleway Black"), url(./fonts/raleway/Raleway-Black.ttf) format("ttf");
}

@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 900;
  src: local("Raleway Black Italic"), url(./fonts/raleway/Raleway-BlackItalic.ttf) format("ttf");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: local("Raleway Medium"), url(./fonts/raleway/Raleway-Medium.ttf) format("ttf");
}

@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 500;
  src: local("Raleway Medium Italic"), url(./fonts/raleway/Raleway-MediumItalic.ttf) format("ttf");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local("Raleway Bold"), url(./fonts/raleway/Raleway-Bold.ttf) format("ttf");
}

@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 700;
  src: local("Raleway Bold Italic"), url(./fonts/raleway/Raleway-BoldItalic.ttf) format("ttf");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: local("Raleway Light"), url(./fonts/raleway/Raleway-Light.ttf) format("ttf");
}

@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 300;
  src: local("Raleway Light Italic"), url(./fonts/raleway/Raleway-LightItalic.ttf) format("ttf");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100;
  src: local("Raleway Thin"), url(./fonts/raleway/Raleway-Thin.ttf) format("ttf");
}

@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 100;
  src: local("Raleway Thin Italic"), url(./fonts/raleway/Raleway-ThinItalic.ttf) format("ttf");
}
