html,
body {
  margin: 0;
  min-width: 360px;
  width: 100%;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 800px) {
  html,
  body {
    font-size: 12px;
  }
}
@media only screen and (max-width: 500px) {
  html,
  body {
    font-size: 8px;
  }
}
@media only screen and (max-width: 400px) {
  html,
  body {
    font-size: 6px;
  }
}

.main_container .heading {
  text-transform: uppercase;
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.875rem;
  letter-spacing: 0.05em;
  padding: 0 2rem;
  color: #009c86;
  margin-bottom: 2rem;
}
.main_container .banner_heading {
  text-transform: uppercase;
  font-style: normal;
  font-size: 3.2rem;
  letter-spacing: 0.05em;
  padding: 0 2rem;
  font-weight: bold;
  text-align: center;
  font-family: "Raleway";
}
.main_container nav {
  display: none;
  padding-top: 1rem;
}
@media only screen and (max-width: 900px) {
  .main_container nav {
    display: block;
  }
  .main_container nav img {
    width: 100px;
  }
}
.main_container nav .navbar-toggler-icon {
  width: 2rem;
  height: 2rem;
}
.main_container nav .offcanvas {
  font-size: 3rem;
  padding-left: 0.5rem;
  padding-right: 2rem;
  padding-top: 2rem;
}
.main_container nav .offcanvas a {
  font-size: 3rem;
}
.main_container .nav_bar {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  padding: 2rem;
  padding-bottom: 1rem;
  justify-content: center;
  background-color: #FFFFFF;
}
@media only screen and (max-width: 900px) {
  .main_container .nav_bar {
    display: none;
  }
}
.main_container .nav_bar img {
  height: 2.75rem;
}
.main_container .nav_bar .spacer {
  flex-grow: 1;
}
.main_container .nav_bar .nav_links {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.125rem;
  font-size: 1rem;
}
.main_container .nav_bar .nav_links .link {
  position: relative;
  height: 100%;
}
.main_container .nav_bar .nav_links .link a {
  all: unset;
}
.main_container .nav_bar .nav_links .link:hover {
  color: #009c86;
  cursor: pointer;
}
.main_container .nav_bar .nav_links .link:hover .sub_menu {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.main_container .nav_bar .nav_links .sub_menu {
  display: none;
  position: absolute;
  top: 2rem;
  background-color: rgb(53, 55, 69);
  color: #FFFFFF;
  padding: 1rem;
  z-index: 100;
}
.main_container .nav_bar .nav_links .sub_menu .item {
  width: -moz-max-content;
  width: max-content;
}
.main_container .nav_bar .nav_links .sub_menu .item:hover {
  text-decoration: underline;
}
.main_container .hydrophonics_heading {
  text-align: center;
  color: #009c86;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  padding-bottom: 2rem;
}
.main_container .picture {
  display: block;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 500px;
  border: 4px solid #900;
}
.main_container .picture > * {
  max-width: 100%;
}
.main_container #carouselExampleIndicators {
  height: 50rem;
}
.main_container #carouselExampleIndicators .carousel-inner {
  height: 100%;
}
.main_container #carouselExampleIndicators .carousel-inner .carousel-item {
  height: 100%;
}
.main_container #carouselExampleIndicators .carousel-inner .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  filter: brightness(0.7);
}
.main_container #carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption {
  top: 18.75rem;
}
.main_container #carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption h1 {
  font-size: 400%;
  text-transform: uppercase;
}
.main_container .carousel-item {
  transition-duration: 2s;
}
.main_container .device_container {
  padding-top: 4rem;
  background: #F5FCFF;
}
.main_container .device_container .device_view {
  position: relative;
  max-width: 54rem;
  width: 90%;
  text-align: center;
  background-image: url("./assets/iphone.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  height: 54rem;
  margin: auto;
}
.main_container .device_container .device_view .widget {
  position: absolute;
  background-color: rgb(243, 244, 245);
  width: 12rem;
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  box-shadow: 0rem 0.25rem 0.9375rem rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(1.875rem);
          backdrop-filter: blur(1.875rem);
  border-radius: 1.25rem;
}
.main_container .device_container .device_view .widget .icon {
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgb(48, 241, 130);
  border-radius: 1rem;
  padding: 1rem;
}
.main_container .device_container .device_view .widget .icon img {
  width: 1.5rem;
  height: 1.5rem;
}
.main_container .device_container .device_view .widget .text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  text-align: left;
}
.main_container .device_container .device_view .alerts {
  top: 8rem;
  right: 0;
}
.main_container .device_container .device_view .temperature {
  top: 14rem;
  left: 0;
}
.main_container .device_container .device_view .ph {
  bottom: 6rem;
  left: 0;
}
.main_container .device_container .device_view .tds {
  bottom: 27rem;
  right: 0;
}
.main_container .digital_era_container {
  background: #F5FCFF;
}
.main_container .digital_era_container .wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  margin-top: 2rem;
}
.main_container .digital_era_container .wrapper .card_container {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 1.875rem;
  letter-spacing: 0.05em;
  color: #1f3f68;
  background-color: #ffffff;
  padding: 2.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  box-shadow: 0.3125rem 1.25rem 3.125rem rgba(135, 135, 135, 0.34);
  border-radius: 0.625rem;
}
.main_container .digital_era_container .wrapper .card_container .grapics {
  height: 15rem;
  width: 10rem;
  display: grid;
  place-items: center;
}
.main_container .digital_era_container .wrapper .card_container .grapics img {
  width: 100%;
}
.main_container .digital_era_container .wrapper .card_container .card_head {
  padding-left: 2rem;
}
.main_container .digital_era_container .wrapper .card_container .card_body {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.25rem;
  letter-spacing: 0.05em;
  color: #1f3f68;
}
.main_container .video_section {
  background: #F5FCFF;
  padding: 4rem 10rem;
}
.main_container .video_section .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main_container .video_section .wrapper video {
  height: auto;
  width: 100%;
}
.main_container .sensors_section {
  background: #F5FCFF;
  padding: 8rem 2rem;
}
.main_container .sensors_section .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main_container .sensors_section .wrapper .sensors {
  padding: 3rem;
}
.main_container .sensors_section .wrapper .sensors .wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 5rem;
  justify-content: space-evenly;
  padding: 2rem;
  box-sizing: border-box;
}
.main_container .sensors_section .wrapper .sensors .wrapper .app {
  text-align: center;
}
.main_container .sensors_section .wrapper .sensors .wrapper .app img {
  height: 8.875rem;
  width: 8.875rem;
}
.main_container .sensors_section .wrapper .sensors .wrapper .app .label {
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 2.875rem;
  letter-spacing: 0.05em;
  color: #1f3f68;
  margin-top: 1rem;
  min-width: 15rem;
}
.main_container .sensors_section .wrapper img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 32rem;
}
.main_container .Video_section {
  background: #F5FCFF;
  padding: 8rem 2rem;
}
.main_container .Video_section .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main_container .Video_section .wrapper video {
  width: 100%;
}
.main_container .column a {
  color: #ffffff;
  text-decoration: none;
}
.main_container .client_section {
  background: #898989;
  padding: 4rem 2rem;
}
.main_container .client_section .heading {
  color: #ffffff;
}
.main_container .client_section .clients {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
}
.main_container .client_section .clients img {
  width: 18rem;
}
.main_container .about_us {
  background: #303030;
  padding: 4rem 2rem;
  display: flex;
  color: #ffffff;
  font-family: "Raleway";
  font-style: normal;
  font-size: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}
.main_container .about_us .column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main_container .about_us .column .head {
  font-size: 1.4rem;
  font-weight: bold;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/raleway/Raleway-Regular.ttf) format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 400;
  src: local("Raleway Italic"), url(./fonts/raleway/Raleway-Italic.ttf) format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  src: local("Raleway Black"), url(./fonts/raleway/Raleway-Black.ttf) format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 900;
  src: local("Raleway Black Italic"), url(./fonts/raleway/Raleway-BlackItalic.ttf) format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: local("Raleway Medium"), url(./fonts/raleway/Raleway-Medium.ttf) format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 500;
  src: local("Raleway Medium Italic"), url(./fonts/raleway/Raleway-MediumItalic.ttf) format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local("Raleway Bold"), url(./fonts/raleway/Raleway-Bold.ttf) format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 700;
  src: local("Raleway Bold Italic"), url(./fonts/raleway/Raleway-BoldItalic.ttf) format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: local("Raleway Light"), url(./fonts/raleway/Raleway-Light.ttf) format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 300;
  src: local("Raleway Light Italic"), url(./fonts/raleway/Raleway-LightItalic.ttf) format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100;
  src: local("Raleway Thin"), url(./fonts/raleway/Raleway-Thin.ttf) format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 100;
  src: local("Raleway Thin Italic"), url(./fonts/raleway/Raleway-ThinItalic.ttf) format("ttf");
}/*# sourceMappingURL=styles.css.map */