$color-primar-green: #009c86;
$color-widget-bg: rgba(243, 244, 245, 1);
$color-widget-icon-bg: rgba(48, 241, 130, 1);
$color-bg-white: #FFFFFF;
$color-bg-grey: #F5FCFF;
$color-bg-menu: rgba(53,55,69,1);
$color-client-bg: #898989;
$color-about-us-bg: #303030;
