@import "../typography.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html,
body {
  margin: 0;
  width: 100%;
  min-width: 360px;
  scroll-behavior: smooth;
  @media only screen and (max-width: 800px) {
    font-size: 12px;
  }
  @media only screen and (max-width: 500px) {
    font-size: 8px;
  }
  @media only screen and (max-width: 400px) {
    font-size: 6px;
  }
}

.main_container {
  width: 100%;
  height: 100%;
  background-color: $color-bg-grey;
  nav {
    display: none;
    padding-top: 1rem;
    @media only screen and (max-width: 900px) {
      display: block;
      img {
        width: 100px;
      }
      .navbar-toggler-icon {
        width: 2rem;
        height: 2rem;
      }
      .offcanvas {
        font-size: 3rem;
        padding-left: 0.5rem;
        padding-right: 2rem;
        padding-top: 2rem;
        //width: 90%;
        a {
          font-size: 3rem;
        }
      }
      btn-cloae {
        margin: 1rem;
      }
    }
  }

  .nav_bar {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
    display: flex;
    padding: 2rem;
    padding-bottom: 0.7rem;
    background-color: $color-bg-white;
    @media only screen and (max-width: 900px) {
      display: none;
      img {
        width: 100px;
      }
    }
    img {
      height: 2.75rem;
    }
  }
  // img {
  //   height: 12.75rem;
  //   border-radius:50% 50% 0 0 ;
  // }
  .spacer {
    flex-grow: 1;
  }
  .nav_links {
    display: flex;
    gap: 2rem;
    align-items: center;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1rem;

    .link {
      position: relative;
      height: 100%;
      a {
        all: unset;
      }
      &:hover {
        color: $color-primar-green;
        cursor: pointer;
        .sub_menu {
          display: flex;
          flex-direction: column;
          gap: 0.7rem;
        }
      }
    }
    .sub_menu {
      display: none;
      position: absolute;
      top: 2rem;
      background-color: $color-bg-menu;
      color: $color-bg-white;
      padding: 1rem;
      z-index: 100;
      .item {
        width: max-content;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  #carouselExampleIndicators {
    height: 45rem;
    max-width: 2000px;
    margin: auto;
    .carousel-inner {
      height: 100%;
      .carousel-item {
        height: 100%;
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
        .carousel-caption {
          top: 15rem;
          h1 {
            font-size: 400%;
          }
        }
      }
    }
  }

  .heading {
    text-transform: uppercase;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    text-align: center;
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    font-family: "Poppins", sans-serif;
    color: $color-primar-green;
    justify-content: center;
    @media only screen and (max-width: 900px) {
      text-align: center;
    }
  }

  .sub_heading {
    text-transform: uppercase;
    text-align: left;
    font-family: "Raleway";
    font-style: normal;
    //font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: $color-primar-green;
    @media only screen and (max-width: 900px) {
      text-align: center;
    }
  }

  section {
    max-width: 1189px;
    margin: auto;
    width: 100%;
    //padding: 2rem;
    .container {
      display: flex;
      gap: 2rem;
      margin-top: 2rem;
      .text {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 36px;
        letter-spacing: 0.05em;
        text-align: justify;
      }
      img {
        width: 30rem;
      }
      .hydrophonics_2 {
        display: grid;
        place-content: center;
      }
    }
  }
  .automation_coming {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    //flex-wrap: wrap;
    padding: 2rem;
    height: 20rem;
  }
  section.device_container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    //padding: 2rem;
    img {
      width: 30rem;
      object-fit: contain;
      min-height: 25rem;
    }
  }
  section.iot_hydrophics {
    margin-top: 1rem;
    .container {
      flex-direction: column;
      .image {
        text-align: center;
        img {
          width: 40rem;
          object-fit: contain;
          min-height: 25rem;
        }
      }
    }
  }
}

// /* Three image containers (use 25% for four, and 50% for two, etc) */
// .column {
//   float: left;
//   width: 33.33%;
//   padding: 5px;
// }

// /* Clear floats after image containers */
// .row::after {
//   content: "";
//   clear: both;
//   display: table;
// }
// .row {
//   display: flex;
// }

// .column {
//   flex: 33.33%;
//   padding: 5px;
// }
// /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
// @media screen and (max-width: 500px) {
//   .column {
//     width: 100%;
//   }
// }

// .image-row {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   align-items: center;
//   margin: 0 auto;
//   max-width: 800px;
//   padding: 20px;
// }
// /* Style for each image container */
// .image-container {
//   flex-basis: calc(33.33% - 10px);
//   margin-bottom: 20px;
// }
// /* Style for each image */
// .image-container img {
//   width: 100%;
//   height: auto;
//   border-radius: 5px;
// }
// /* Style for image description */
// .image-container .image-description {
//   margin-top: 10px;
//   text-align: center;
//   font-size: 14px;
// }

.desc {
  font-size: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.gallery_row {
  display: flex;
  img {
    height: 12.75rem;
  }
  @media screen and (max-width: 991px) {
    display: none;
  }
}

.text1 {
  display: flex;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  text-align: justify;
  @media screen and (min-width: 992px) {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.gallery_scroll {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
}
.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 20px 0;
}
.slide-content {
  margin: 0 20px;
  overflow: hidden;
  border-radius: 25px;
}
.card {
  border-radius: 5px;
  background-color: #fff;
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 7px;
}
.image-content {
  position: relative;
  row-gap: 5px;
  padding: 20px 0;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #009c86;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  // bottom: -40px;
  // height: 40px;
  // width: 40px;
  background-color: #009c86;
}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}
.card-image {
  position: relative;
  height: 400px;
  width: 300px;
  border-radius: 2%;
  background: #fff;
  padding: 3px;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  //border-radius: 50%;
  border: 4px solid #009c86;
}
.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #4070f4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background: #265df2;
}

.swiper-navBtn {
  color: #6e93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #4070f4;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  background-color: #6e93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 25px;
  }
  // .swiper-navBtn{
  //   display: none;
  // }
}

.device_container1 {
  background-color: #ffffff;
  display: flex;
  //align-items: center;
  //justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
  margin-bottom: 2rem;
  .image {
    text-align: center;
    margin-bottom: 2rem;
    img {
      width: 100%;
      max-width: 1100px;
      height: auto;
      object-fit: contain;
      margin: auto;
    }
  }
}
.card-img-top {
  align-items: center;
  justify-content: center;
  width: 413x;
  height: 200px;
}

section.benefits_section {
  .image {
    text-align: center;
    margin-bottom: 2rem;
    img {
      width: 100%;
      max-width: 1189px;
      height: auto;
      object-fit: contain;
      margin: auto;
    }
  }
}

.column a {
  color: #ffffff;
  text-decoration: none;
}

// .button1{
//   color: #fff;
//   font-size: 18px;
//   outline: none;
//   border: none;
//   padding: 8px 16px;
//   border-radius: 6px;
//   background: #009c86;
//   cursor: pointer;
//   transition: all 0.3s ease;
// }
// .button1 input[type="submit"]:hover {
//   background: #1bc3ac;
// }

.about_us {
    background: $color-about-us-bg;
    //padding-left: 0.5rem;
    display: flex;
    color: #ffffff;
    font-family: "Raleway";
    font-style: normal;
    font-size: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    max-height: 15rem;
    .footer_img {
      padding-top: 2rem;
      padding-bottom: 2rem;
      max-width: 90%;
     max-height: 15rem;
     align-items: center;
     justify-content: center;
    }
    .column {
      padding: 4rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .head {
        font-size: 1.4rem;
        font-weight: bold;
      }
    }
  }

.client_section {
    background: $color-client-bg;
    padding: 4rem 2rem;
    .heading {
      color: #ffffff;
    }
    .clients {
      display: flex;
      justify-content: center;
      gap: 2rem;
      padding: 2rem;
      flex-wrap: wrap;
      img {
        width: 18rem;
        height: 6rem;
      }
    }
  }
  .digital_era_container {
    background: $color-bg-grey;
    //padding-top: 2rem;
    .wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
      padding: 2rem;
      margin-top: 2rem;
      .card_container {
        font-family: "Raleway";
        font-style: normal;
        font-weight: bold;
        font-size: 1.75rem;
        line-height: 1.875rem;
        letter-spacing: 0.05em;
        color: #1f3f68;
        background-color: #ffffff;
        padding: 2.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: 0.3125rem 1.25rem 3.125rem rgba(135, 135, 135, 0.34);
        border-radius: 0.625rem;
        .grapics {
          height: 25rem;
          width: 20rem;
          display: grid;
          place-items: center;
          img {
            width: 100%;
          }
        }
        .card_head {
          padding-left: 2rem;
        }
        .card_body {
          font-family: "Raleway";
          font-style: normal;
          font-weight: 400;
          font-size: 1.5rem;
          line-height: 2.25rem;
          letter-spacing: 0.05em;
          color: #1f3f68;
        }
      }
    }
  }

// .about_us {
//   margin-top: 2rem;
//   background: $color-about-us-bg;
//   padding: 4rem 2rem;
//   color: #ffffff;
//   font-family: "Raleway";
//   font-style: normal;
//   font-size: 1rem;
//   display: flex;
//   gap: 2rem;
//   justify-content: space-evenly;
//   .column {
//     display: flex;
//     flex-direction: column;
//     gap: 0.5rem;
//     .head {
//       font-size: 1.4rem;
//       font-weight: bold;
//     }
//   }
// }
