@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
html,
body {
  margin: 0;
  width: 100%;
  min-width: 360px;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 800px) {
  html,
  body {
    font-size: 12px;
  }
}
@media only screen and (max-width: 500px) {
  html,
  body {
    font-size: 8px;
  }
}
@media only screen and (max-width: 400px) {
  html,
  body {
    font-size: 6px;
  }
}

.main_container {
  width: 100%;
  height: 100%;
  background-color: #F5FCFF;
}
.main_container nav {
  display: none;
  padding-top: 1rem;
}
@media only screen and (max-width: 900px) {
  .main_container nav {
    display: block;
  }
  .main_container nav img {
    width: 100px;
  }
  .main_container nav .navbar-toggler-icon {
    width: 2rem;
    height: 2rem;
  }
  .main_container nav .offcanvas {
    font-size: 3rem;
    padding-left: 0.5rem;
    padding-right: 2rem;
    padding-top: 2rem;
  }
  .main_container nav .offcanvas a {
    font-size: 3rem;
  }
  .main_container nav btn-cloae {
    margin: 1rem;
  }
}
.main_container .nav_bar {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  padding: 2rem;
  padding-bottom: 0.7rem;
  background-color: #FFFFFF;
}
@media only screen and (max-width: 900px) {
  .main_container .nav_bar {
    display: none;
  }
  .main_container .nav_bar img {
    width: 100px;
  }
}
.main_container .nav_bar img {
  height: 2.75rem;
}
.main_container .spacer {
  flex-grow: 1;
}
.main_container .nav_links {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1rem;
}
.main_container .nav_links .link {
  position: relative;
  height: 100%;
}
.main_container .nav_links .link a {
  all: unset;
}
.main_container .nav_links .link:hover {
  color: #009c86;
  cursor: pointer;
}
.main_container .nav_links .link:hover .sub_menu {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.main_container .nav_links .sub_menu {
  display: none;
  position: absolute;
  top: 2rem;
  background-color: rgb(53, 55, 69);
  color: #FFFFFF;
  padding: 1rem;
  z-index: 100;
}
.main_container .nav_links .sub_menu .item {
  width: -moz-max-content;
  width: max-content;
}
.main_container .nav_links .sub_menu .item:hover {
  text-decoration: underline;
}
.main_container #carouselExampleIndicators {
  height: 45rem;
  max-width: 2000px;
  margin: auto;
}
.main_container #carouselExampleIndicators .carousel-inner {
  height: 100%;
}
.main_container #carouselExampleIndicators .carousel-inner .carousel-item {
  height: 100%;
}
.main_container #carouselExampleIndicators .carousel-inner .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.main_container #carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption {
  top: 15rem;
}
.main_container #carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption h1 {
  font-size: 400%;
}
.main_container .heading {
  text-transform: uppercase;
  text-align: left;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  font-family: "Poppins", sans-serif;
  color: #009c86;
}
@media only screen and (max-width: 900px) {
  .main_container .heading {
    text-align: center;
  }
}
.main_container .sub_heading {
  text-transform: uppercase;
  text-align: left;
  font-family: "Raleway";
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #009c86;
}
@media only screen and (max-width: 900px) {
  .main_container .sub_heading {
    text-align: center;
  }
}
.main_container section {
  max-width: 1189px;
  margin: auto;
  width: 100%;
}
.main_container section .container {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
.main_container section .container .text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  text-align: justify;
}
.main_container section .container img {
  width: 30rem;
}
.main_container section .container .hydrophonics_2 {
  display: grid;
  place-content: center;
}
.main_container .automation_coming {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  height: 20rem;
}
.main_container section.device_container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main_container section.device_container img {
  width: 30rem;
  -o-object-fit: contain;
     object-fit: contain;
  min-height: 25rem;
}
.main_container section.iot_hydrophics {
  margin-top: 1rem;
}
.main_container section.iot_hydrophics .container {
  flex-direction: column;
}
.main_container section.iot_hydrophics .container .image {
  text-align: center;
}
.main_container section.iot_hydrophics .container .image img {
  width: 40rem;
  -o-object-fit: contain;
     object-fit: contain;
  min-height: 25rem;
}

.desc {
  font-size: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.gallery_row {
  display: flex;
}
.gallery_row img {
  height: 12.75rem;
}
@media screen and (max-width: 991px) {
  .gallery_row {
    display: none;
  }
}

.text1 {
  display: flex;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  text-align: justify;
}
@media screen and (min-width: 992px) {
  .text1 {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.gallery_scroll {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 20px 0;
}

.slide-content {
  margin: 0 20px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  border-radius: 5px;
  background-color: #fff;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 7px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 20px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #009c86;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  background-color: #009c86;
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}

.card-image {
  position: relative;
  height: 400px;
  width: 300px;
  border-radius: 2%;
  background: #fff;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px solid #009c86;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #4070f4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: #265df2;
}

.swiper-navBtn {
  color: #6e93f7;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #4070f4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #6e93f7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #4070f4;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 25px;
  }
}
.device_container1 {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  margin-bottom: 2rem;
}
.device_container1 .image {
  text-align: center;
  margin-bottom: 2rem;
}
.device_container1 .image img {
  width: 100%;
  max-width: 1100px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
}

.card-img-top {
  align-items: center;
  justify-content: center;
  width: 413x;
  height: 200px;
}

section.benefits_section .image {
  text-align: center;
  margin-bottom: 2rem;
}
section.benefits_section .image img {
  width: 100%;
  max-width: 1189px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
}

.column a {
  color: #ffffff;
  text-decoration: none;
}

.about_us {
  background: #303030;
  color: #ffffff;
  font-family: "Raleway";
  font-style: normal;
  font-size: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}
.about_us .footer_img {
  padding: 2rem;
  max-width: 100%;
  max-height: 15rem;
  align-items: center;
  justify-content: center;
}
.about_us .column {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.about_us .column .head {
  font-size: 1.4rem;
  font-weight: bold;
}/*# sourceMappingURL=hydrophonics.css.map */